# Datasets (En kritiği!)
data/
data/raw/
data/wikiart/
data/raw/coco/

# Models & Weights
models/
*.pth

# Monitoring & Logs
wandb/
logs/
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# OS
.DS_Store
Thumbs.db